th {
}

th div {
  text-align:center;
  vertical-align:middle;
}

td {
  position: relative;
}

td img {
  position: absolute;
  top: 27%;
  left: 20%;
  width: 30px;
  height: auto;
	margin: auto;
	display: block;
}

.myTableContainer {
  width: 0.9vw;
}